<div class="row">
    <div class="col-md-6 mx-auto">
        <h1>Edit</h1>
<div class="card card-body">
    <form action="/questions/{{question.id}}?_method=PUT" method="post">
    <input type="hidden" name="_method" value="PUT">
        <div class="form-group">
            <label for="question">Question</label>
            <textarea type="text" class="form-control" name="question">{{question.question}}</textarea>
        </div>

        <div class="form-group">
            <label for="details">Details</label>
            <textarea type="text" class="form-control" name="details">{{question.details}}</textarea>
        </div>

        <div class="form-group">
            <label for="optionA">OptionA</label>
            <input type="text" class="form-control" name="optionA" value="{{question.optionA}}">
        </div>

        <div class="form-group">
            <label for="optionB">OptionB</label>
            <input type="text" class="form-control" name="optionB" value="{{question.optionB}}">
        </div>

        <div class="form-group">
            <label for="optionC">OptionC</label>
            <input type="text" class="form-control" name="optionC" value="{{question.optionC}}">
        </div>

        <div class="form-group">
            <label for="optionD">OptionD</label>
            <input type="text" class="form-control" name="optionD" value="{{question.optionD}}">
        </div>

         <div class="form-group">
            <label for="answer">Answer</label>
            <input type="text" class="form-control" name="answer" value="{{question.answer}}">
        </div>
        {{#if question.imageSrc}}
        <p><img class="img-responsive mt-3" src="/uploads/{{question.imageSrc}}"  height="200px" width="auto" srcset=""></p>
        {{else}}
        {{/if}}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</div>
</div>